.toc-list {
	list-style-type: none;
	padding-left: 0;
}

.toc-list-item {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	transition: colors 0.3s;
}

.toc-link {
	display: block;
	width: 100%;
	color: #71717a; /* zinc-500 */
	margin-bottom: 8px;
}

.toc-link:hover {
	color: #3f3f46; /* zinc-700 */
}

.dark .toc-link:hover {
	color: #a1a1aa; /* dark:zinc-400 */
}

.is-active-li > .toc-link {
	color: #18181b; /* zinc-900 */
}

.dark .is-active-li > .toc-link {
	color: #e4e4e7; /* dark:zinc-200 */
}

.toc-list .toc-list {
	padding-left: 1rem;
}
